body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input[type="text"] {
  justify-content: center;
  width: 100%;
}

.search-bar {
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

li.listName:hover {
  background: #c57c7c;
}

li.listName {
  border-bottom: 1px solid;
}
li.listName:last-child {
  border-bottom: none;
}

ul.searchList {
  margin: 0;
  padding: 2px 2px;
  text-decoration: none;
  border: 1px solid black;
  list-style-type: none;
}